*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    /* height: 100vh; */
    background-color: red;
    margin: auto;
    padding: 10px;
}

header{
    background-color: yellow;
    height: 200px;
    margin-bottom: 10px;
}

aside{
    width: 20%;
    background-color: pink;
    float: left;
}

main{
    width: calc(60% - 20px);
    margin: 0 10px 10px 10px;
    background-color: purple;
    float: left;

}

.speciale{
    width: 20%;
    background-color: pink;
    float: left;
    margin-top: 10px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: lightblue;
    clear: both;
}
